
h1, h2, h3, h4  {
  font-family: Impact
}

.small-image {
    width: 500px;
}


h2, h3, h4  {
  font-family: Arial
}

body {
  background-color: rgb(230, 173, 219);
  font-family: verdana;
}

.item-box {
    background-color: #3995c6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: zoom-in;  /*Muda o cursor quando passar na DIV*/

}

.btn-save {
    background-color: #611032;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dashboard-container

.secao-projetos

.tabela-custom

.btn-acao

.linha-vazia

.item-linha
