    <!-- 
      Codigo base para os outros codigos
    -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">      
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{% static 'system/css/style.css' %}">
    </head>
  <body>
    <script src="{% static 'system/js/script.js' %}"></script>
    <a href="{% url 'Projects' %}">Projetos</a>
    <a href="/admin">Admin</a>
    {% if user.is_authenticated %}
        Bem vindo, {{user.username}}
        <a href="{% url 'logout' %}">Sair</a>
        <a href="{% url 'perfil' user.id  %}">perfil</a>
    {% else %}
            <a>Você não está logado.</a>
            <a href="{% url 'login' %}">Entrar</a>
            <a href="{% url 'cadastrar' %}">Cadastrar</a>
    {% endif %}        
    
    {% block content %}
    {% endblock content %}
  </body>
</html>

