
{% extends "System/base.html" %} 
{% load static %}
{% block content %}  


<!--tudo com a mesma fonte-->

<section class="background-image">
    <div class="overlay"> </div>

      <div class = "conteudo">
      <title>Projeto</title>  {# Titulo na barra do navegador #}
      <h1>Gerenciador de projetos</h1>    
      <p>  Cadastre seus projetos para maior organização na sua empresa </p>
      {% if user.is_authenticated %}
            <p>Bem vindo, {{user.first_name}}!</p>     
            <a href="{% url 'addproject' %}"class="btn-acao">Adicionar novo projeto</a> {% else %} 
      <a href="{% url 'cadastrar' %}" class="btn-acao">Cadastre-se</a>       
      <a href="{% url 'login' %}" class="btn-acao">Login</a>  
      {%endif%}
    </div>
</section>



{% endblock content %}