
<!DOCTYPE html>
<html lang="en">
  <head>
      <title>System</title>
      <link rel='stylesheet' href="variables.css">
</head>
<body>
    An unordered list
    <ul>
        <li>thing 1</li>
        <li>thing 2</li>
        <li>thing 3</li>
    </ul>
</body>
  <head>
      <title>images</title>
</head>
<body>
    <img src="chess.jpg" alt="girl playing chess" width=300>
</body>
  <head>
      <title>link test</title>
</head>
<body>
    <a href="System/caduser.html">my other page</a>
</body>
  <head>
      <title>table</title>
</head>
<body>
    <table>
        <thead>
              <th>name</th>
              <th>number</th>
              <th>other</th>
        </thead>
        <tbody>
              <tr>
                  <td>paula</td>
                  <td>40</td>
                  <td>no more information</td>
              </tr>
              <tr>
                  <td>Joao</td>
                  <td>15</td>
                  <td>play soccer</td>
              </tr>
        </tbody>
    </table>
</body>
</html>