{% extends "System/base.html" %} 
 
{% block content %}  

    <!-- 
     Apresentar TUDO sobre os subitens(nome e os campos preenchidos)
    -->


    <p>Subitens do projeto: {{ project.name }}</p>

    <p>Subitens:</p>
    <ul>
        {% for item in itens %}
        <div class="item-box">
       <!-- TÍTULO  --> 
            <p>Título: {{ item.title }}</p>
        <!-- DESCRIÇÃO  --> 
            <p>Descrição: {{ item.description}}</p>
        <!-- RESPONSÁVEL  --> 
            <p>Responsável: {{ item.resp }}</p>
       <!-- TIPO  --> 
            <p>Tipo: {{ item.get_tipo_display }}</p>
            <p>
       <!-- STATUS  --> 
            Status: 
            {% if item.status == 'P' %}
                <span style="color: orange;">{{ item.get_status_display }}</span>
            {% elif item.status == 'A' %}
                <span style="color: blue;">{{ item.get_status_display }}</span>
            {% elif item.status == 'C' %}
                <span style="color: green;">{{ item.get_status_display }}</span>
            {% endif %}
            </p>
            <p>
      <!-- PRAZO -->           
            Prazo: 
            {% if item.prazo == None %}
                Sem prazo definido
            {% else %}
                {{ item.prazo }}
            {% endif %}
            </p>
        </div>

        {% if project.dono == request.user %}
        <p>
            <a href="{% url 'delete_item' item.id %}">Deletar este item</a>
        </p>
        {% endif %}
                <p>
            <a href="{% url 'edit_item' item.id %}">Editar este item</a>
        </p>

        {% empty %}

        <li>Sem subitens</li>
        <a href="{% url 'new_item' project.id %}">Adicionar subitem</a>
        {% endfor %}

</ul>


{% endblock content %}  



