{% extends "System/base.html" %}

{% block content %}

    <!-- 
      Dashboard usuario com projetos que ele e dono + botao direcionando para o perfil do usuario
    -->

    <!-- 
      CRIAR uma tabela que mostre projetos em que ele e dono e subitens que ele e responsavel(fazer essa tabela no meu HTML projects, que ja tem a opcao de adicionar um novo projeto)
    -->
<ul>
    {% for project in projects %}
        <li>

            {{ project.name }}

            <a href="{% url 'detalhesprojeto' project.id %}"target="_blank"target="_blank">Detalhes</a>
            {% if project.dono == request.user %}
            <a href="{% url 'manage_collaborators' project.id  %}"target="_blank"target="_blank">Gerenciar colaboradores</a>
            {% endif %}
        
        </li>
    {% empty %}
        <li>Sem projetos cadastrados</li>
    {% endfor %}
<a href="{% url 'addproject' %}">Adicionar novo projeto</a>



</ul>



{% endblock content %}
