{% extends "System/base.html" %} 
 
{% block content %}  

    <!-- 
      Página para apresentar o perfil do usuário
    -->

<div class="fundo-detalhes">
    <div class="cartao-detalhes">
        <div class="detalhes-header">
            <h1>Perfil</h1>
        </div>

        <div class="detalhes-corpo">
            <div class="info-bloco">
                <label><i class="bi bi-chat-left-text icone-dourado"></i> Nome </label>
                <p>{{ user.first_name }}</p>
            </div>

                <div class="info-bloco">
                    <label> Nome de usuário:</label>
                    <p>{{ user.username  }}</p>
                </div>

                <div class="info-bloco">
                    <label> E-mail:</label>
                    <p>{{ user.email   }}</p>
                </div>
                <div class="info-bloco">
                    <label></i> CPF:</label>
                    <p>{{ user.cpf   }}</p>
                </div>
                <div class="info-bloco">
                    <label></i> Telefone:</label>
                    <p>{{ user.telefone   }}</p>
                </div>
                <div class="info-bloco">
                    <label></i> Data de nascimento:</label>
                    <p>{{ user.data_nascimento   }}</p>
                </div>

             </div>

         </div>

     </div>

{% endblock content %}  